.text-bold {
  font-weight: bold;
}

.avatar {
  height: 200px;
  width: 100%;
  text-align: right;
  float: right;
}

.filter-block {
  display: inline-block;
  position: relative;
  min-width: 30px;
  height: 25px;
  border: 1px solid #cccccc;
  background-color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 12px;
  margin-top: 10px;
  text-align: left;
  padding: 0 6px;
  float: left;
}

.close-btn {
  color: red;
  position: relative;
  font-size: 10px;
  cursor: pointer;
  width: 10px;
  margin-left: 5px;
  display: inline-block;
}

.filters {
  min-height: 35px;
}

.news {
  min-height: 765px;
}

.news-block {
  margin-top: 15px;
  min-height: 100px;
  background-color: white;
  padding: 10px 0;
  border: 2px groove #e8e8e8;
  box-sizing: content-box;
}

.pagination__page {
  background-color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px groove #e8e8e8;
  cursor: pointer;
  box-sizing: content-box;
}

.pagination__page_active {
  font-weight: bold;
  border-width: 3px;
  color: #a50c0c;;
}

.pagination-block {
  margin-top: 10px;
  margin-bottom: 20px;
}

.pag-block {
  display: inline-block;
}

.logout {
  float: right;
  font-size: 14px;
  cursor: pointer;
}


