//@import 'base';
//@import '~bootstrap/scss/bootstrap.scss';
//
//// Some best-practice CSS that's useful for most apps
//// Just remove them if they're not what you want
//html {
//  box-sizing: border-box;
//}
//
//html,
//body {
//  margin: 0;
//  padding: 0;
//  height: 100%;
//}
//
//*,
//*:before,
//*:after {
//  box-sizing: inherit;
//}


body {
  background-color: #e8e8e8;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 5px;
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  bottom: 12px;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.btn-login {
  margin-top: 30px;
  outline: none !important;
  min-height: 35px;
}

.user-avatar {
  min-height: 300px;
  position: relative;
  margin-bottom: 10px;
}

.user-avatar_img {
  vertical-align: middle;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}

.poster-avatar {
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

.user-avatar_news {
  width: 50px;
  height: 49px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid;
}

.news-block__title {
  display: inline-block;
  width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.news-block__tags {
  display: inline-block;
  text-align: right;
  width: calc(40% - 60px);
  white-space: nowrap;
  overflow: hidden;
}

.news-block__tags_tag {
  display: inline-block;
  max-width: 50px;
  font-size: 13px;
  color: #c8c8c8;
  top: -7px;
  position: relative;
  margin-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.news-block__footer {
  width: 50%;
  box-sizing: border-box;
}

.checkbox {
  margin: 0 !important;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px !important;
}

label {
  margin-right: 5px;
}

.error-input {
  border: 1px solid red
}

.btn-default {
  outline: none !important;
}

.ib {
  display: inline-block;
}
